/* reset style */
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;}

body { background: #FFF; color: #000; font-size: 12px; font-style: normal; font-family:'Microsoft Yahei','微软雅黑','Simsun','宋体','Arial', sans-serif;}
em, b, i { font-style:normal;}
li { list-style:none;}
img { border:none;}
a { text-decoration:none; color:#244666;}
a:hover { text-decoration:none; color:#f50;}
table { border-spacing:0; border-collapse:collapse;}

/* public style */
.hide {display: none;}
.show {display: block;}
.flt {float:left;}
.frt {float:right;}
.clearfix { *zoom: 1;} 
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}






.pl{padding-left: 15px;}
.pr{padding-right: 15px;}

.pl2{padding-left: 230px;}

.tp{margin-top: 14px;}
.tp2{margin-top: 25px;}

.bx{border: 1px #d1d1d1 solid;}
.bk{border-right: 1px #c1c1c1 solid;}

.header{height: 167px;background-color: #ffffff;}
.topbox{height: 30px;background-color: #f4f4f4;border-bottom: 1px #b4b4b4 solid;}
.textbox{width: 960px; height: 30px;background-color: #f4f4f4;margin: 0 auto;}
.topbox span{line-height: 30px;font-size: 12px;}
.textbox span{display: inline-block;border-left: 1px #b4b4b4 solid; color: #433434;}
.l_border{border-right: 1px #b4b4b4 solid;}

.diy{ color: #001dff}

.textbox span:first-child{border-left: none;}

.icons{display: inline-block; background-image: url(../images/icons.png);background-repeat: no-repeat; vertical-align: middle;}

.icon_app {display: inline-block; width: 14px;height: 22px; background-position: -283px -99px;}

.icon_wx {display: inline-block; width: 24px;height: 19px; background-position: -283px -121px;}

.forestbear em{padding:0 5px;}




.midbox{height: 92px; background-color: #d8d4d0;}

.midbody{width: 960px;margin: 0 auto; background-color: white;}


.logo{ padding: 24px 0;}

.tab_menu{margin-top: 52px;}

.tab_menu li{
    float: left;width: 80px;height: 40px;font-size: 16px;line-height: 40px;text-align: center;margin-left: 1px;background: #1d418d;border-radius:6px 6px 0 0;
}
.tab_menu li a{color: #9c98b3;}
.tab_menu li.curr a{color: #ffffff;}
.tab_menu li.curr{background-color:#768feb; }


.menubox{height: 44px; background-color: #768feb;}

.menuboxtext{width: 960px; height: 44px; background-color: #768feb; margin: 0 auto;}

.menubox ul li{width: 160px;height: 44px; float: left; font-size: 16px;line-height: 44px; text-align: center;}

.menubox ul li:hover{background-color: #31d880;}
.menuboxtext ul li a{color: white;}
.menuboxtext ul li.curr{background-color:#31d880; }







.mainbox{height:  1175px;}

.content{width: 960px; /*height: 800px;background-color: #d1d1d1;*/margin: 0 auto;}

.bgpic{margin: 0 auto;}


.footer{ height: 355px; /*background-color: #bababa;*/}
.footer_t{width: 960px; height: 114px;/*background-color: aqua;*/margin: 0 auto; border-bottom: 1px #c1c1c1 solid;}
.footer_t_t{width: 960px; height: 28px; font-size: 22px;color: black;}
.footer_t_b{width: 960px; height: 50px; margin-top: 18px;}




/*合作伙伴*/
.footer_t_b ul li{float: left; padding-right: 20px;}

.footer_t_b ul li a.msbank {
  width: 160px;
  height: 35px;
  display: block;
  background: url("/images/partner.png") no-repeat;background-position: 0 0;}
.footer_t_b ul li a.msbank:hover{background-image: url(../images/partner.png) no-repeat;background-position: 0 -45px;}

.footer_t_b ul li a.xinda {
  width: 124px;
  height: 35px;
  display: block;
  background: url("/images/partner.png") no-repeat;background-position: -165px 0;}
.footer_t_b ul li a.xinda:hover{background-image: url(../images/partner.png) no-repeat;background-position: -165px -45px;}

.footer_t_b ul li a.wdzj {
  width: 130px;
  height: 35px;
  display: block;
  background: url("/images/partner.png") no-repeat;background-position: -291px 0;}
.footer_t_b ul li a.wdzj:hover{background-image: url(../images/partner.png) no-repeat;background-position: -291px -45px;}


.footer_t_b ul li a.byht {
  width: 130px;
  height: 35px;
  display: block;
  background: url("/images/partner.png") no-repeat;background-position: -423px 0;
}
.footer_t_b ul li a.byht:hover{background-image: url(../images/partner.png) no-repeat;background-position: -423px -45px;}


.footer_t_b ul li a.wdty {
  width: 113px;
  height: 35px;
  display: block;
  background: url("/images/partner.png") no-repeat;background-position: -555px 0;
}
.footer_t_b ul li a.wdty:hover{background-image: url(../images/partner.png) no-repeat;background-position: -555px -45px;}


.footer_t_b ul li a.tbgj {
  width: 160px;
  height: 35px;
  display: block;
  background: url("/images/partner.png") no-repeat;background-position: -670px 0;
}
.footer_t_b ul li a.tbgj:hover{background-image: url(../images/partner.png) no-repeat;background-position: -670px -45px;}




.footer_m{width: 960px; height: 210px;/*background-color: #355a5a*/;margin: 0 auto;}


/*底部第一部分*/
.footer_m1{ width: 150px; height: 128px;/*background-color: aquamarine*/}
.footer_m1:last-child{border: none;}

.footer_m1 ul li.about_us{width: 120px;height: 31px; background: url(../images/icons.png) no-repeat; background-position: -282px -338px;}

.footer_m1 ul li a{margin-left: 50px; color: gray;}

.first_text{display:inline-block;font-size: 17px;margin-top: 5px;font-size:}
.first_text1{font-size: 14px;line-height: 35px;}





/*底部第二部分*/
.footer_m2{width: 159px; height:  159px;/*background-color: #99f0d3*/}

.footer_m2 ul li.help{width: 120px;height: 31px; background: url(../images/icons.png) no-repeat; background-position: -282px -371px;margin-left: 10px;}

.footer_m2 ul li a{ color: #777777;}

.help_text1{display:inline-block;font-size: 17px;margin-top: 5px;margin-left: 45px}
.help_text2{margin-left: 56px;line-height: 33px; font-size: 14px;}








/*底部第三部分*/
.footer_m3{width: 329px; height: 159px;/*background-color: #3d9a0c*/}
.footer_m3_r{ margin-left: 26px;}
.footer_m3_l{ margin-left: 52px;}
.jianxi{margin-top: 10px;}
.rule{width:110px; height:15px;text-align: center;margin-top: 3px; color: #6c6c6c}





/*底部第四部分*/
.footer_m4{width: 318px; height: 165px;/*background-color: #849a0c*/}

.blogo{display:inline-block; width: 170px;height: 20px; margin:3px 10px;}

.btext{position: relative; display: inline-block; width: 120px; height: 25px;border: 1px #868686 solid; text-align: center;line-height: 25px; color: gray;cursor: pointer;}

.itslink a{color: #4141cc;}
.itslink a:hover{color: red; text-decoration: underline;}
.itslink{position: absolute; top: 25px; left: -1px;  width: 120px; padding-bottom: 10px; border: 1px solid #888; border-top: 0; background: #fff; display: none; }

.btext:hover .itslink{display: block;}



/*链接下面*/
.textli{margin-top: 20px}
.textli ul li{display:block; text-align: right; padding-top: 6px;}

.bigtext{font-size: 28px;color: dodgerblue}
.bigtext1{font-size: 14px;color: #646464;}




.footer_b{ height: 30px;background-color: #272727;text-align: center;line-height: 30px;color: #ccc;}
.footer_b a{color: #7070ef;}
.footer_b a:hover{color: orangered;text-decoration: underline;}















